{% extends 'base.html' %}

{% block content %}
    <form action="{% url 'account_login' %}" class="login" method="POST">
        {% csrf_token %}
        {{ form }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <p><a href="{% url 'account_reset_password' %}" class="button secondaryAction">Forgot Password?</a></p>
        <button class="btn btn-primary" type="submit">Sign in</button>
    </form>
{% endblock %}