{% extends 'account/base.html' %}

{% block card_header_inner %}Password Reset{% endblock %}
{% block card_body_inner %}
    <p>Forgotten your password? Enter your e-mail address below, and we'll e-mail you allowing you
        to reset it."</p>
    <form action="{% url 'account_reset_password' %}" class="password_reset" method="post">
        {% csrf_token %}
        {{ form }}
        <div class="d-grid">
            <button class="btn btn-primary" type="submit">Reset My Password</button>
        </div>
    </form>
{% endblock %}
{% block card_footer_inner %}
    <p class="m-0">Please contact us if you have any trouble resetting your password.</p>
{% endblock %}