{% extends 'account/base.html' %}

{% block content_inner %}
    <div class="card">
        <div class="card-header"><h2 class="lead my-0">Signup</h2></div>
        <div class="card-body">
            <p>Forgotten your password? Enter your e-mail address below, and we'll e-mail you allowing you
                to reset it."</p>
            <form action="{% url 'account_reset_password' %}" class="password_reset" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="d-grid">
                    <button class="btn btn-primary" type="submit">Reset My Password</button>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <p class="m-0">Please contact us if you have any trouble resetting your password.</p>
        </div>
    </div>
{% endblock %}