{% extends 'account/base.html' %}

{% block head_title %}Change Password{% endblock %}

{% block card_header_inner %}Chagne Password{% endblock %}

{% block card_body_inner %}
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-grid">
            <button class="btn btn-primary" type="submit" name="action">Change Password</button>
        </div>
        <p class="my-2"><a href="{% url 'account_reset_password' %}">Forgot Password?</a></p>
    </form>
{% endblock %}
{% block card_footer %}{% endblock %}