{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="my-5">
            <div class="alert alert-primary" role="alert">You are registered for free online attendance.</div>
        </div>
        {% with orders=data.orders %}
            {% if orders %}
                <h2 class="my-4">Your ticket orders</h2>
                {% for order in orders %}
                    {% include 'core/includes/order.html' with order=order %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}