{% extends 'base.html' %}
{% load core_tags %}

{% block head_title %}Home{% endblock %}

{% block content %}
    <section class="container tickets py-4 mx-auto">
        {% if not user.freeregistration %}
            <form action="{% url 'free-register' %}" method="POST">
                {% csrf_token %}
                <div class="d-grid gap-2 col-6 mx-auto my-5">
                    <input type="submit" value="Free register for online attendance (only for non-presenter participants)." class="btn btn-primary btn-lg">
                </div>
            </form>
        {% else %}
            <div class="alert alert-primary" role="alert">You are registered for free online attendance (Only for non-presenter participants).</div>
        {% endif %}
        <h2 class="display-5 text-center">Paid Tickets</h2>
{#        <div class="alert alert-warning" role="alert">{% settings_value "NOTICE_MESSAGE" %}</div>#}
        <div class="my-4">{% include 'core/includes/tickets.html' with tickets=paid_tickets %} </div>
    </section>
{% endblock %}