{% extends 'base.html' %}

{% block content %}
    <section class="container tickets py-4 mx-auto">
        <h2 class="display-5 text-center">Free Tickets</h2>
        <div class="my-4">{% include 'core/includes/tickets.html' with tickets=free_tickets %} </div>
        <h2 class="display-5 text-center">Paid Tickets</h2>
        <div class="my-4">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item"><button class="nav-link active" data-bs-toggle="pill" data-bs-target="#tickets-student" type="button" role="tab" aria-controls="tickets-student" aria-selected="true">For students</button></li>
                <li class="nav-item"><button class="nav-link" data-bs-toggle="pill" data-bs-target="#tickets-other" type="button" role="tab" aria-controls="tickets-other" aria-selected="false">For others</button></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active py-2" id="tickets-student" role="tabpanel" aria-labelledby="tickets-student-tab">
                    {% include 'core/includes/tickets.html' with tickets=student_tickets %}
                </div>
                <div class="tab-pane fade py-2" id="tickets-other" role="tabpanel" aria-labelledby="tickets-other-tab">
                    {% include 'core/includes/tickets.html' with tickets=other_tickets %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}