<div class="card mx-auto my-3 border-info">
    <div class="card-header">
        <div class="d-flex flex-row">
            {% for k, v in order.details.items %}
                <div class="p-2">{{ k }}: <strong>{{ v }}</strong></div>
            {% endfor %}
        </div>
    </div>
    <div class="card-body">
        <h2 class="lead mb-3">Tickets</h2>
        {% for ticket in order.tickets %}
            <div class="card">
                <div class="accordion" id="orderAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="#collapseParticipant"
                                    aria-expanded="true" aria-controls="collapseParticipant">{{ ticket.name }}</button>
                        </h2>
                        <div id="collapseParticipant" class="accordion-collapse collapse show"
                             data-bs-parent="#orderAccordion">
                            <div class="accordion-body">
                                <dl class="row">
                                    {% for k, v in ticket.participant.details.items %}
                                        <dt class="col-sm-3">{{ k }}</dt>
                                        <dd class="col-sm-9">{{ v }}</dd>
                                    {% endfor %}
                                </dl>
                            {% if ticket.participant.meal_preference %}
                                {% with mp=ticket.participant.meal_preference %}
                                <dl class="row">
                                    {% for k, v in mp.items %}
                                        <dt class="col-sm-3">{{ k }}</dt>
                                        <dd class="col-sm-9">{{ v }}</dd>
                                    {% endfor %}
                                </dl>
                                {% endwith %}
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="card-footer">
        {% include 'core/includes/order-payment-action.html' %}
    </div>
</div>