<div class="card mx-auto my-2 border-info">
    <div class="card-header">
        <strong>{{ ticket.locality }}</strong>
    </div>
    <div class="card-body">
        <h4 class="card-title">
            <a class="text-dark text-decoration-none" href="{% url 'buy-ticket' ticket.id %}">
                {{ ticket.name }}
            </a>
        </h4>
        {% if ticket.summary %}
        <p class="card-text">{{ ticket.summary }}</p>
        {% endif %}
        {% if ticket.is_paid %}
        <div class="price text-info me-2">{{ ticket.visual_price }}</div>
        {% endif %}
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
        {% if ticket.is_limited and ticket.no_available != None %}
        <small>{{ ticket.no_available }} tickets left</small>
        {% endif %}
        <div class="d-flex align-items-center">
            <a href="{% url 'buy-ticket' ticket.id %}" class="text-decoration-none" type="button">
                {% if ticket.is_paid %}
                Purchase
                {% else %}
                Register for free
                {% endif %}
            </a>
        </div>

    </div>
</div>