{% if messages %}
    <div class="messages container">
        {% for message in messages %}
            {% with level=message.level levels=DEFAULT_MESSAGE_LEVELS %}
                <div class="alert
                    alert-{% if level == levels.DEBUG %}secondary
                          {% elif level == levels.SUCCESS %}success
                          {% elif level == levels.ERROR %}danger
                          {% elif level == levels.WARNING %}warning
                          {% elif level == levels.INFO %}primary
                          {% endif %}" role="alert">{{ message }}</div>
            {% endwith %}
        {% endfor %}
    </div>
{% endif %}