<header class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a href="{% url 'index' %}" class="navbar-brand">CCE'23 Registration</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation=">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav">
                {% if not user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'account_login' %}" class="nav-link">Login</a></li>
                {% else %}
                    <li class="nav-item"><a href="{% url 'account' %}" class="nav-link">My tickets</a></li>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="accountDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                        <ul class="dropdown-menu" aria-labelledby="accountDropdown">
                            <li><a href="{% url 'account_change_password' %}" class="dropdown-item">Change password</a>
                            </li>
                            <li><a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
                        </ul>
                    </div>
                {% endif %}
            </ul>
        </div>
    </div>
</header>